<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.onlineattendanceproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineAttendanceProject"
        tools:ignore="ExtraText">

        <activity android:name=".CreatePDFTeacherSCR"></activity>
        <activity android:name=".AdminTeacherAttListSCR" />
        <activity android:name=".TeacherTakeAttendanceStudent" />
        <activity android:name=".TeacherLoginScreen" />
        <activity android:name=".TeacherForgotScreen" />
        <activity android:name=".TeacherDashboard" />
        <activity android:name=".TeacherAttendanceSCR" />
        <activity android:name=".TeacherAttendanceCompleteSCR" />
        <activity android:name=".StudentShowAttendanceSCR" />
        <activity android:name=".StudentLoginScreen" />
        <activity android:name=".StudentDashboard" />
        <activity android:name=".StudentAttendanceSCR" >

        </activity>
        <activity android:name=".StudentAttendanceCompleteSCR" />
        <activity android:name=".ShowTeacherScreen" />
        <activity android:name=".ShowTeacherAttendance" />
        <activity android:name=".OneTimeStudent" />
        <activity android:name=".ConfirmScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdminTeacherImageSCR" />
        <activity android:name=".AdminStudentImageSCR" />
        <activity android:name=".AdminShowStudents" />
        <activity android:name=".AdminLoginScreen" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".AdminAddStudentProf" />
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>